.leftNavStyle a {
  text-decoration: none;
  color: white;
  /* font-size: 15px; */
  margin-top: 10px;
}
.leftNavStyle {
  margin-top: 25px;
}

.sticky-class {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 576px) {
  .leftNavTitle {
    text-align: right;
    padding-right: 10px;
  }
  .leftNav {
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
    /* padding-left: 20px !important; */
    margin-bottom: 10px;
  }
  /* .phone-cat{
    margin-top: -42px;
  } */
}
