.login-btn{
    width: 100% !important;
    margin-bottom: 10px !important;
}
.login-with-section{
    margin-bottom: 30px;
}
.Find-us-section{
    margin-bottom: 20px;
}
.Find-us-section h3{
    margin-bottom: 12px;
}
.find-social-icon{
    margin-right: 10px;
}
.qZones-section{
    
    padding: 15px;
}
.qZones{
    text-align: center;
}